<div class="text-white p-5" style="background-color: #ab0bca;">

    <form [formGroup]="formColor" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-auto p-1">
            <label for="exampleColorInput" class="form-label">Elige un color</label>
        </div>
        <div class="col-auto">
            <input 
                type="color" 
                class="form-control form-control-color" 
                id="exampleColorInput"
                title="Elige tu color"
                formControlName="inputColor"
            />
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light" [disabled]="formColor.invalid">Agregar color</button>
        </div>
    </form>
</div>